<IfModule mod_rewrite.c>
	
	RewriteEngine on
	ErrorDocument 404 http://localhost/master_php/Error/

	RewriteCond %{SCRIPT_FILENAME} !-d
	RewriteCond %{SCRIPT_FILENAME} !-f

	RewriteBase http://localhost/master_php/index.php

	RewriteRule ^(.*)/(.*) index.php?controller=$1&accion=$2

</IfModule>	